/* Gallery and update section */
.outercontainer {
    background-color: beige;
    border-radius: 10px;
    margin: 20px;
}

.innercontainer {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
}

#lu,
#gal {
    font-size: xx-large;
    color: maroon;
}

.gallery-section,
.updates-section {
    flex: 1;
    min-width: 350px;
    margin: 10px;
}

h2 {
    font-size: 24px;
    font-weight: 900;
}

.underline {
    width: 50px;
    height: 2px;
    background-color: navy;
    margin: 10px 0;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 5px;
}

.gallery-img {
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
    object-fit: cover;
    height: 120px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
}

.modal-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.modal img {
    max-width: 90%;
    max-height: 80vh;
    border: 5px solid white;
    border-radius: 10px;
    object-fit: contain;
}

.modal-close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    color: white;
    cursor: pointer;
    z-index: 10000;
}

.modal-nav {
    color: white;
    font-size: 40px;
    cursor: pointer;
    user-select: none;
    transition: 0.3s;
}

.modal-nav:hover {
    color: #ccc;
}

@media (max-width: 768px) {
    .modal-inner {
        flex-direction: column;
    }

    .modal img {
        max-width: 95%;
        max-height: 60vh;
    }

    .modal-nav {
        font-size: 30px;
    }
}

/* Updates Section */
.updates-box {
    background-color: maroon;
    color: white;
    padding: 10px 20px;
    margin-bottom: 20px;
    border-radius: 12px;
    font-size: 18px;
}

.updates-scroll {
    height: 350px;
    overflow: hidden;
    position: relative;
}

.scroll-content {
    display: flex;
    flex-direction: column;
    animation: scrollUp 10s linear infinite;
}

.updates-scroll:hover .scroll-content {
    animation-play-state: paused;
}

@keyframes scrollUp {
    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(-50%);
    }
}

@media (max-width: 768px) {
    .gallery-img {
        height: 100px;
    }

    .modal img {
        max-width: 95%;
        max-height: 70%;
    }

    .modal-controls span {
        padding: 10px;
    }
}



/* principal section */

.principal-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    gap: 30px;
    max-width: 1220px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    margin-top: 20px;
    background-color: beige;
}

.principal-content {
    flex: 1;
    min-width: 300px;
    color: #333;
    font-family: Arial, sans-serif;
}

.principal-content h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #222;
}

.principal-content p {
    font-size: 16px;
    line-height: 1.7;
    margin-bottom: 20px;
    color: maroon;
}


.principal-image {
    flex: 1;
    min-width: 300px;
    text-align: center;

}

.principal-image img {
    max-width: 100%;
    height: 500px;
    width: 4500px;
    border-radius: 12px;
}

/* Responsive for mobile */
@media (max-width: 768px) {
    .principal-section {
        flex-direction: column;
        text-align: center;
    }

    .principal-content,
    .principal-image {
        width: 100%;
    }
}

/* recent activity */
.psa {
    padding: 40px 20px;
    background-color: beige;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    max-width: 1220px;
}

/* Flex layout */
.psap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    gap: 30px;

}

#sn {
    font-size: 30px;
}

#sa {
    font-size: 25px;
}

/* Text Section */
.psa-text {
    flex: 1;
    min-width: 300px;
    font-family: Arial, sans-serif;

}

.psa-text p {
    margin-bottom: 15px;
    font-size: 16px;
    color: maroon;
}

.text {
    color: red;
    font-weight: bold;
    font-size: 40px;
}

.btn-more {
    display: inline-block;
    padding: 10px 20px;
    background-color: #d32f2f;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.btn-more:hover {
    background-color: #b71c1c;
}

/* Image Section */
.psaimg {
    flex: 1;
    min-width: 300px;
    text-align: center;
}

.psaimg img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Responsive for phones */
@media (max-width: 768px) {
    .psap {
        flex-direction: column;
        text-align: center;
    }

    .psa-text,
    .psaimg {
        width: 100%;
    }
}




/* Footer start */
.footer {
    color: #999999;
    border-radius: 10px;
    max-width: 1260px;

}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #999999;
    font-weight: normal;
    text-transform: capitalize;
    transition: 0.3s;
    text-decoration: none;
}

.footer .btn.btn-link::before {
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #999999;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    color: #ffffff;
    letter-spacing: 1px;
    box-shadow: none;
    font-size: 20px;
}

.footer .btn.btn-square {
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 0;
    line-height: 38px;
}

@media (max-width: 768px) {
    .footer img {
        max-width: 50%;
    }
}